@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary-50:  240 253 144;
  --color-primary-100: 220 252 231;
  --color-primary-200: 187 247 208;
  --color-primary-300: 134 239 172;
  --color-primary-400: 74 222 128;
  --color-primary-500: 34 197 94
  --color-primary-600: 22 163 74;
  --color-primary-700: 21 128 61;
  --color-primary-800: 22 101 52;
  --color-primary-900: 20 83 45;
  --color-back-50: #fafafa;
  --color-back-100: #f4f4f5;
  --color-back-200: #e4e4e7;
  --color-back-300: #d4d4d8;
  --color-back-400: #a1a1aa;
  --color-back-500: #71717a;
  --color-back-600: #52525b;
  --color-back-700: #e3e3e9;
  --color-back-800: #27272a;
  --color-back-900: #18181b;
}

.theme-blue {
  --color-primary-50: 239 246 255;
  --color-primary-100: 219 234 254;
  --color-primary-200: 191 219 254;
  --color-primary-300: 96 165 250;
  --color-primary-400: 59 130 246;
  --color-primary-500: 37 99 235;
  --color-primary-600: 29 78 216;
  --color-primary-700: 30 64 175;
  --color-primary-800: 30 58 138;
  --color-primary-900: 30 53 105;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4e5050;
}

::-webkit-scrollbar-thumb {
	background-color: #7e7f80;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}


#app {
  background-color: #ffffff;
  min-height: 100vh;
  min-width: 100vw;
  
}