.hovercard {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .hovercard:hover::before {
    opacity: 1;
  }
  
  .hovercard::before,
  .hovercard::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .hovercard::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.1),
      transparent 40%
    );
    z-index: -2;
  }
  
  .hovercard::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: -1;
    
  }
  
  .hovercard > div  {
    z-index: 0;
  }